html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*/////ends css reset/////*/


/* header start */
.wrapper {
    width: 100%;
    max-width: 90%;
    margin: 0px auto;
}

header {
    background: darkolivegreen;
}

header:after {
    content: "";
    display: block;
    clear: both;
}

#brand {
    height: 80px;
    width: 300px;
    float: left;
}

#brand a {
    color: yellow;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: sans-serif;
}


header nav {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

header nav a {
    color: red;
    text-decoration: none;
    font-family: sans-serif;
}

header nav h2 {
    height: 0;
    text-indent: -10000px;
}

header nav li {
    float: left;
    margin-left: 20px;
}

/* banner start */
#lead-banner img {
    width: 100%;
}

#lead-banner {
    max-height: 700px;
    overflow: hidden;
    position: relative;
}

.banner-overlay {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
    font-family: sans-serif;
}

.banner-title {
    color: white;
    text-transform: lowercase;
    text-align: center;
    font-size: 30px;
}

.banner-overlay a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;

}

.banner-overlay a:hover {
    color: darkgray;
}

/* main-content start */
section {
    margin: 40px 0 60px;
}

#styles ul {
    list-style-type: none;
    margin-top: 30px;
}

#styles ul img {
    border: 35px solid lightgray;
    max-width: 375px;
    max-height: 375px;
}

#styles h2 {
    height: 0;
    text-indent: -10000px;
}

#styles h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    
}

#styles li {
    float: left;
    width: 31%;
}

#styles li:nth-child(2),
#styles li:nth-child(5) {
    margin: 0 2%;
}
#styles li:nth-child(1),
#styles li:nth-child(4) {
    margin-left: 3%;
}

#styles li a {
    text-align: center;
}