html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: 'Ubuntu' ,sans-serif;
    position: relative;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

nav a:hover {
    color: gray;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*/////ends css reset/////*/


/* header start */
.wrapper {
    width: 100%;
    max-width: 90%;
    margin: 0px auto;
}

header {
    background: rgb(31, 30, 30);
    position: sticky;
    top: -5px;
    z-index: 1;
}


header:after {
    content: "";
    display: block;
    clear: both;
}


.wrapper-brand {
    height: 60px;
    width: 300px;
    float: left;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-weight: 500;
    position: fixed;
    line-height: inherit;
    margin-top: 25px;
    left: -20px;
    z-index: 2;
}

.wrapper a {
    position: relative;
}

header nav {
    float: right;
    margin-top: 35px;
    margin-right: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav h2 {
    height: 0;
    text-indent: -10000px;
}

header nav li {
    float: left;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
}

header span {
    color: white;
    padding-left: 15px;
    font-size: 0.8rem;
    text-align: center;
}

/* banner start */
#lead-banner img {
    width: 100%;
    position: relative;
    z-index: -1;
}

#lead-banner {
    max-height: 700px;
    overflow: hidden;
    position: relative;
}

#lead-banner .banner-title,
#lead-banner a {
    z-index: -1;
}

.banner-overlay {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
}

.banner-title {
    color: white;
    text-transform: lowercase;
    text-align: center;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 8px;
}

.banner-overlay a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    z-index: 1;
}

.banner-overlay a:hover {
    color: rgb(150, 148, 148);
}

/* main-content start */
section {
    margin: 40px 0 60px;
}

section:after {
    content: "";
    display: block;
    clear: both;
}

#styles h3,
#occasion h3 {
    text-align: center;
    padding-right: 60px;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    font-family: 'Josefin Sans', sans-serif;
}

#styles ul,
#occasion ul{
    list-style-type: none;
    margin-top: 30px;
}

#styles ul img,
#occasion ul img {
    border: 35px solid lightgray;
    max-width: 400px;
    max-height: 375px;
}

#styles h2,
#occasion h2 {
    height: 0;
    text-indent: -10000px;
}

#styles h1 ,
#occasion h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    
}

#styles li,
#occasion li {
    float: left;
    width: 31%;
}


#styles li:nth-child(1),
#styles li:nth-child(2),
#styles li:nth-child(3),
#occasion li:nth-child(1),
#occasion li:nth-child(2),
#occasion li:nth-child(3) {
    margin-bottom: 50px;
}

#styles li:nth-child(4),
#occasion li:nth-child(4) {
    margin-bottom: 20px;
}

#styles li:nth-child(2),
#styles li:nth-child(5),
#occasion li:nth-child(2),
#occasion li:nth-child(5) {
    margin: 0 2%;
}
#styles li:nth-child(1),
#styles li:nth-child(4),
#occasion li:nth-child(1),
#occasion li:nth-child(4) {
    margin-left: 3%;
}

#styles li a,
#occasion li a {
    text-align: center;
}

#occasion {
    border-top: 1px solid #ccc;
    padding-top: 30px;
}


/* promo start */
#promo h1{
    text-align: center;
    color:black;
    margin-top: 30px;
}

#promo #lead-banner {
    max-height: 700px;
    overflow: hidden;
    position: relative;
    top: 60px;
}

#promo img {
    height: 70%;
    width: 100%;
    opacity: .7;
    z-index: -1;
}
#promo .container-fluid {
    height: 600px;
}

#promo .banner-overlay {
    display: block;
    left: 25.5%;
    position: absolute;
    margin: auto;
    width: 750px;
    height: 250px;
    padding: 30px 30px;
    padding-bottom: 100px;
    top: 170px;
    background: #d5e7e4;
}

#name-input,
#email-input,
#promo-submit {
    display: block;
    margin: 50px auto;
}

#promo-submit {
    margin-left: 34.8%;
    border-radius: 3rem;
    cursor: pointer;
}


#name-input {
    width: 500px;
    height: 30px;
    font-size: 1rem;
}

#email-input {
    width: 500px;
    height: 30px;
    font-size: 1rem;
}

#promo-submit {
    background:dimgray;
    color: white;
    position: relative;
    margin: auto;
    padding: 10px 40px;
    font-size: 1rem;
}


/* footer start */

footer {
    /* background: rgb(31, 30, 30); */
    background: grey;
    height: 120px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

footer h2 {
    position: relative;
    display: block;
    top: 15px;
    margin: auto;
    font-size: 1rem;
}

.credits #icons-list{
    position: relative;
    display: inline;
}

.credits #icons-list li {
    position: relative;
    top: 15px;
    display: inline;
}

.credits #icons-list li a {
    color: white;
    text-decoration: none;
}

.credits #icons-list li a:hover {
    color: lightgray;
}

.credits i {
    font-size: 30px;
    margin: 10px;
}

#contact-info {
    position: relative;
    color: white;
    list-style: none;
    margin-top: 15px;
    line-height: 18px;
}


  /* media queries */

  /* tablets */
@media screen and (max-width: 770px) {
    header {
        width: 100%;
    }


    #main-content a {
        width: 80%;
        border: none;
        padding: none;
        position: relative;
        margin: auto;
    }

}

/* mobile */
@media screen and (max-width: 500px) {

    header {
        width: 100%;
        z-index: 2;
    }

    header .wrapper-brand {
        position: relative;
        width: 100%;
        max-height: 30px;
        top: 10px;
        left: 1.25%;
        text-align: center;
        font-size: 2.1rem;
    }
 
    #lead-banner img {
        height: 550px !important;
    }

    #lead-banner .banner-title {
        font-size: 1.5rem;
        letter-spacing: 2px;
        position: relative;
        top: 30px;
        margin-bottom: 70px;
    }

    #lead-banner .banner-overlay .wrapper a {
        color: rgb(196, 194, 194);
        z-index: 1;
    }

    #main-content .container-fluid h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    #main-content ul li {
        width: 90%;
        padding: none;
        position: relative;
        margin-bottom: 40px !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    #main-content li img{
        border: none;
        max-width: 100%
    }

    #main-content li h3 {
        padding: 0px 0px 10px 0px;
        margin: auto;
    }

}